@media all and (min-width: 1024px) {
    .cardsList {
        padding: 40px;
    }
}

.moreBtn {
    margin: 15px auto;
    max-width: 150px;
    width: fit-content;
    padding: 14px;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}